<div class="container">
    <h1>Selected Files For Processing:</h1>

    <!-- Card to display the accumulated files -->
    <div class="card custom-card">
        <div class="card-body">
            <h5 class="card-title">Selected Files</h5>
            <ul>
                {% for bucket, files in accumulated_files.items() %}
                    <li id="bucket-{{ loop.index }}" style="font-size: 1.7rem;">
                        <strong style="font-size: 1.7rem;">Bucket:</strong> 
                        <span id="bucket-name-{{ loop.index }}">{{ bucket }}</span>
                        <ul id="bucket-files-{{ loop.index }}">
                            {% for file in files %}
                                <li id="file-{{ loop.index }}-{{ loop.index0 }}" style="font-size: 1.7rem;">{{ file }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <br>

<!-- Card to display the accumulated files -->
<div class="card custom-card">
    <div class="card-body">
        <h5 class="card-title">Available Algorithms</h5>
        <ul style="list-style-type: none; padding-left: 0; font-size: 1.7rem;">
            {% for alg, description in alglist.items() %}
            <li style="display: flex; align-items: center; margin-bottom: 10px; border: 1px solid #ccc; padding: 10px; border-radius: 5px;">
                <input type="checkbox" id="alg_{{ loop.index }}" name="algorithms" value="{{ alg }}" 
                       style="transform: scale(1.5); margin-right: 10px;">
                <label for="alg_{{ loop.index }}" style="flex-grow: 1; word-break: break-word; overflow-wrap: break-word;">
                    <strong>{{ alg }}:</strong> {{ description }}
                </label>
            </li>
            {% endfor %}
        </ul>            
        <h5 class="card-title" style="color:rgb(122, 48, 48) !important; font-weight: bold;">Run selected algorithms on the list of files</h5>
        <button class="btn custom-btn-color2 btn-block mt-2" id="run-algs-btn" style="font-size: 1.7rem; width: 60%;">Run</button>
    </div>
</div>







</div>

<!-- Modal for confirming the selected algorithms and files -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirm Action</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Selected Files and Algorithms:</h5>
          <ul id="selectedItemsList"></ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" id="confirm-btn" class="btn btn-primary">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  