{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_s3_explorer.css') }}">
{% endblock %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h1>Welcome to the Home Page!</h1>
    <p>This is the content specific to the home page.</p>

    <!-- Include the S3 Explorer here -->
    {% include '_s3_explorer.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }} <!-- Ensure base scripts are loaded -->
    <script src="{{ url_for('static', filename='js/s3_manager.js') }}"></script>
    <script src="{{ url_for('static', filename='js/s3_explorer.js') }}"></script>
{% endblock %}
