{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_s3_explorer.css') }}">
{% endblock %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <br>
    <br>

    <!-- Include the S3 Explorer here -->
    {% include '_op_on_files.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }} <!-- Ensure base scripts are loaded -->
    <script src="{{ url_for('static', filename='js/s3_manager.js') }}"></script>
    <script src="{{ url_for('static', filename='js/s3_process.js') }}"></script>
{% endblock %}
